* {
  margin: 0;
  padding: 0;
}
.textbox {
  border: 1px solid black;
  padding: 0px 4px;
}
.searchBox {
  display: flex;
  justify-content: center;
}

.tablemaindiv {
  display: flex;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
}
.table2div {
  margin: 10px;
  width: 500px;
}
.Header {
  text-align: center;
  margin: 17px 0px;
  font-size: 47px;
  font-family: cursive;
}
.validation {
  text-align: center;
  color: red;
}
.loader {
  display: flex;
  justify-content: center;
  margin: 135px 0px;
}

/* .tableFixHead {
  overflow-y: auto;
  height: 106px;
}
.tableFixcol {
  position: sticky;
  top: 0;
} */
